/* CSS for Flexbox*/


nav li {
  float:left;
  margin-left: 0.5em;
  margin-top: -0.4em;
  flex: auto;
  list-style-type: none;

}

li {
  list-style-type: none;
  display: list-item;

}

nav ul{
  list-style-type: none;
}

.icon{
  width: 1.6em !important;
  margin-top:0.7em !important;
  margin-left: 0.5em !important;
}

/* HOMEPAGE FLEXBOX */


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  max-width: 110em;
  padding: 2%;

}

.container .block {
  height: 200px;
  flex-basis: 15em;
  flex-grow:1;
}

.container .banner{
  height: 30em;
  max-height: 30em;
  flex-basis: 15em;
  flex-grow:1;
  z-index: -1;
  position: relative;
}

.container .bannerImg{
 display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-image: url('banner_1.jpg');
  z-index: -1;
  position: relative;
}

.container div {
  padding: 0.1em;

  /* border: 1em solid black; */
}

.container .btn {
  position: absolute;
  top: 85%;
  left: 51%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
}



.break {
  flex-basis: 100%;
  height: 0;
}

.container .hotitem1{
  height: 45em;
  flex-basis: 40em;
  margin:1em;
  flex-grow:1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: 100% 100%;
  width: 100%;
  background-image: url('hotitem1.png');
  cursor: pointer;


}

.container .hotitem2{
  height: 45em;
  flex-basis: 40em;
  margin:1em;
  flex-grow:1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: 100% 100%;
  width: 100%;
  background-image: url('hotitem2.jpg');
  cursor: pointer;

}

.container .recommended{
  height: 35em;
  background-color: rgb(163, 112, 112);
  flex-basis: 20em;
  margin:0.5em;
  flex-grow:1;
  cursor: pointer;

}

.container .recommended1{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: 100% 100%;
  width: 100%;
  background-image: url('item1.jpg');
}

.container .recommended2{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: 100% 100%;
  width: 100%;
  background-image: url('item2.jpg');
}

.container .recommended3{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: 100% 100%;
  width: 100%;
  background-image: url('item4.jpg');
}

.container .recommended4{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: 100% 100%;
  width: 100%;
  background-image: url('item3.jpg');
}


/* DETAIL PAGE FLEXBOX */

.container .block1{
  height: 45em;
  background-color: rgb(255, 255, 255);
  flex-basis: 35em;
  margin:1em;
  flex-grow:1;
  display: flex;
  justify-content: center;

}

.container .block2{
  height: 45em;
  background-color: rgb(255, 255, 255);
  flex-basis: 40em;
  margin:1em;

}
.container .photoDetail{
  height: 40em;
  max-width:35em;
  background-color: #779c92;
  flex-basis: 20em;
  flex-grow:1;


}

.container .productPhoto{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: 100% 100%;
  width: 100%;
  background-image: url('product.jpg');
}

.container .productDetail{
  height: auto;
  max-width:35em;
  background-color: rgb(255, 255, 255);
  flex-basis: 20em;
  flex-grow:1;
  margin-left:1em;

}

.container .review{
  height: auto;
  max-width:35em;
  background-color: rgb(255, 255, 255);
  flex-basis: 20em;
  flex-grow:1;
  margin:1em;
  box-shadow: 4px 4px 4px 4px #888888;
  padding-bottom: 2em;

}

.checked {
  color: #779C92;
}

.unchecked {
  color: #D2D2D2;
}



/* Hamburger Menu
   Tutorial from https://www.youtube.com/watch?v=dIyVTjJAkLw&ab_channel=codeSTACKr */

   .menu-btn{
    margin-top: 0.2em;
    position: relative;
     display:flex;
     justify-content: center;
     align-items:center;
     width:40px;
     height:40px;
     cursor:pointer;
     transition: all .5s ease-in-out;
     float: right;
   }

   .menu-btn_burger{
     width: 25px;
     height: 3px;
     background :#000;
     border-radius: 5px;
     transition: all .5s ease-in-out;
   }

   .menu-btn_burger::before,
   .menu-btn_burger::after{
    content:'';
    position: absolute;
    width: 25px;
    height: 3px;
    background :#000;
    border-radius: 5px;
    transition: all .5s ease-in-out;
   }

   .menu-btn_burger::before{
     transform: translateY(-8px);
   }
   .menu-btn_burger::after{
    transform: translateY(8px);
  }

  /* ANIMATION */

  .menu-btn.open .menu-btn_burger{
    transform: translate(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
  }

  /* Hamburger tutorial from https://www.youtube.com/watch?v=yQimoqo0-7g&ab_channel=EasyTutorials */

  .menu-icon{
    margin-left:1em;
    display: none;
  }


  /* Product Page */

  .container .products{
    max-height: 100%;
    width:100%;
    max-width: 110em;
    flex-basis: 15em;
    flex-grow:1;
    float: right;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    justify-content: space-around;

  }

  .container .product1{
    height: 25em;
    width: 25em;
    margin: 0.5em;
    display: flex;
   flex-flow: row nowrap;
   align-items: center;
   margin-bottom:3em;
  }
  .container .products img{
    width:22em;
  }

  .productNav{
    height: auto;
    flex-basis: 5em;
    flex-grow:1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 8em;
    float: left;
    margin-top: 3vw;
    font-size: 1.1em;
    margin-right:5em;

}

.productTitle{
  text-align: left;
  margin-left: -0.2em !important;

}

  /* Media Query */

  @media only screen and (max-width: 92em) {
    .container .bannerImg {
      max-height:26em;
    }

    .container .banner{
      margin-bottom:-2em;
    }

    .container .btn {
      top: 75%;
    }
    .container .hotitem1{
      background-image: url('hotitem1_2.jpg');
    }
    .container .hotitem2{
      background-image: url('hotitem2_2.jpg');
    }
    .container .recommended4{
      background-image: url('item3_1.jpg');
    }
  }

  @media only screen and (max-width: 70em) {
    .container .bannerImg {
      max-height:23em;
    }

    .container .banner{
      margin-bottom:-5em;
    }

    .container .hotitem2{
      background-image: url('hotitem2.jpg');
    }
    .container .recommended4{
      background-image: url('item3.jpg');
    }
    .container .hotitem1{
      background-image: url('hotitem1.png');

    }

  }

  @media only screen and (max-width: 60em) {

    .container .bannerImg {
      max-height:20em;
    }

    .container .banner{
      margin-bottom:-8em;
    }
  }


  @media only screen and (max-width: 50em) {

    .container .bannerImg {
      max-height:18em;
    }

    .container .banner{
      margin-bottom:-10em;
    }


  .container .hotitem1{
    height: 35em;
    max-height: 35em;
  }

  .container .hotitem2{
    height: 35em;
    max-height: 35em;
  }

  .container .recommended1{
    height: 60em;
    max-height: 60em;
  }
  .container .recommended2{
    height: 60em;
    max-height: 60em;
  }
  .container .recommended3{
    height: 60em;
    max-height: 60em;
  }
  .container .recommended4{
    height: 60em;
    max-height: 60em;
  }

  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.8s;
    margin-left: -1.5em;
  }

  nav ul li{
    display: block;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a{
    color: #fff !important;
  }

  .menu-icon{
    display: block;
    margin-top: 1.5em;
  }

  .productNav{
    margin-left:5em;
    margin-bottom:2em;

  }

  .container .product1{
    margin-left: 5em;
  }



  }


  @media only screen and (max-width: 40em) {

    .container .bannerImg {
      background-image: url('banner_2.jpg');
      max-height:20em;
    }

    .container .btn {
      top: 90%;
    }

    .container .banner{
      margin-bottom:-12em;
    }

    .container .hotitem1{
      height: 30em;
      max-height: 30em;
    }

    .container .hotitem2{
      height: 30em;
      max-height: 30em;
    }

    .container .recommended1{
      max-height: 50em;
    }
    .container .recommended2{
      max-height: 50em;
    }
    .container .recommended3{
      max-height: 50em;
    }
    .container .recommended4{
      max-height: 50em;
    }

    .container .product1{
      margin-left: 2em;
    }



    }


  @media only screen and (max-width: 30em) {

    .container .bannerImg {
      max-height:18em;
    }


    .container .banner{
      margin-bottom:-13em;
    }

    .container .hotitem1{
      height: 20em;
      max-height: 20em;
    }

    .container .hotitem2{
      height: 20em;
      max-height: 20em;
    }

    .container .recommended1{
      max-height: 40em;
    }
    .container .recommended2{
      max-height: 40em;
    }
    .container .recommended3{
      max-height: 40em;
    }
    .container .recommended4{
      max-height: 40em;
    }

    .container .product1{
      margin-left: 5em;
    }

    nav{
      margin-right:-1em;
    }

    .container .product1{
      margin-left: -3em;
    }

    .container .productPhoto{
      max-height:20em;
    }

    .container .productDetail{
      max-height: 20em;

    }

    .container .block1{
      max-height:20em;
    }

    }

    @media only screen and (max-width: 25em) {

      .container .bannerImg {
        max-height:15em;
      }


      .container .banner{
        margin-bottom:-16em;
      }

      .container .hotitem1{
        height: 15em;
        max-height: 15em;
      }

      .container .hotitem2{
        height: 15em;
        max-height: 15em;
      }

      .container .recommended1{
        max-height: 30em;
      }
      .container .recommended2{
        max-height: 30em;
      }
      .container .recommended3{
        max-height: 30em;
      }
      .container .recommended4{
        max-height: 30em;
      }
       nav{
        margin-right:-2.2em;
      }

      .element{
        margin-right: -1em;
      }

      .productNav{
        margin-right:7em;

      }
      .container .product1{
        margin-left: -6em;
      }

      .navbar{
        font-size: 18px;
      }

      }


      @media only screen and (max-width: 20em) {

        .container .bannerImg {
          max-height:13em;
        }


        .container .banner{
          margin-bottom:-17em;
        }

        .container .product1{
          margin-left: -6em;
        }

        .container .products img{
          width:20em;
        }
        .navbar{
          font-size: 14px;
        }

        }




        /*
    begin footer
    */
.footer {
  width: 100%;
  padding: 1em 2em 0em 8em;
  text-align: justify;
  box-sizing: border-box;
  display: block;
  color: black;
  border-top: 1px solid #e7e7e7;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(231, 231, 231);


}

.inner-footer {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 15em;
  padding: 10px 15px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 13px;
  opacity: 0.8;
}

.footer-items p {
  color: grey;
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  width: 90%;
}

.footer-items ul {
  list-style: none;
  font-size: 13px;
  margin-left:-3em;
}

.footer-items ul li, .footer-items ul li a {
  text-decoration: none;
  margin: 10px 0px;
  color: black;
}

.footer-items a:hover {
  border-bottom: 1px solid black;
}

.footer-items h5{
  font-size: 0.8em;
  text-transform: uppercase;

}

.social i {
  margin: 0 10px 10px 1px;
  font-size: 1.25em;
  flex-direction: row;
  color: black;
}

.footer-bottom {
  width: 100%;
  padding: 10px 0px;
  margin-left: -3em;
  font-size: 0.8em;
  color: rgb(88, 88, 88);
  text-align: center;
}
