

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:300,400,600');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, $main, $second);
  font-family: "Source Sans Pro";
}

.wrapper {
  width: 700px;
  height: 450px;
  background: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 20px 0 rgba(#000, 0.1);
}

.container {
  width: 50%;
  > * {
    margin: 30px 0;
  }
}

.tabs {
  margin: 40px 0;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.18em;
  }

  .active {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background: $ube;
      bottom: -2px;
    }
  }
}

.pay-type {
  display: flex;

  label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.18em;
    position: relative;
    &:before, &:after {
      position: absolute;
      content: '';
    }

    &:before {
      width: 12px;
      height: 12px;
      border: 1px solid $ube;
      border-radius: 50%;
      left: -20px;
      top: 1px;
    }

    &:after {
      width: 10px;
      height: 10px;
      background: $ube;
      top: 3px;
      left: -18px;
      border-radius: 50%;
      opacity: 0;
    }
  }

  label:nth-child(2) {
    margin-right: 20px;
  }

  .payment {
    visibility: hidden;
  }

  .payment:checked + label {
    &:after {
      opacity: 1;
    }
  }
}

form {
  width: 100%;
  > * {
    display: block;
  }

  label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.18em;
  }

  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba($ube, 0.5);
    margin: 10px 0;
    margin-bottom: 30px;
    outline: 0;
    color: $ube;
    font-size: 13px;
    transition: 0.5s all ease;
    letter-spacing: 0.1em;
  }

  input:focus {
    border-bottom: 1px solid $ube;
    transition: 0.5s all ease;
  }
}

.validation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  > * {
    width: 40%;
  }
}

.button {
  background: $ube;
  width: 120px;
  height: 30px;
  border: none;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  transition: 0.5s all ease;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    transform: scale(0.98);
    transition: 0.5s all ease;
  }
}
