
/*  COLLECTION PAGE*/

.collectionBackground{
  background-image: url(../img/cover3.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  background-blend-mode: overlay;
  margin-bottom: 200px;
}


/* Styling for the navigation button */
.collection-btn{
  display: inline-block;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  float: right;
  border: none;
  text-align: center;
  transform: translateY(-800%);
  
}


.collection-btn:link {
  text-decoration: none;

}

.collection-btn:hover{
  background-color: #779c92;
  color: white;
}

#collectionCover{
  background-image: url(../img/cover3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

#collectionCover .button{

}
